.about-us {
  position: relative;

  width: 320px;
  margin: 0 auto;
  padding-top: 33px;
  padding-right: 30px;
  padding-left: 29px;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 6px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-position-x: -6px;
    background-size: auto 100%;
    background-repeat: repeat-x;
  }
}

.about-us__title {
  margin-bottom: 26px;
}

.about-us__list {
  @include list-reset;

  display: flex;
  flex-direction: column;
}

.about-us__item {
  position: relative;

  margin-bottom: 23px;
  padding-top: 60px;

  font-size: $important-text;
  font-weight: bold;
  line-height: 20px;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-size: auto;
    background-repeat: no-repeat;
  }
}

.about-us__item--eco::before {
  top: 6px;
  left: 9px;

  background-image: url("../img/icon-feature-flower.svg");
}

.about-us__item--nordic::before {
  top: 6px;
  left: 1px;

  background-image: url("../img/icon-feature-money.svg");
}

.about-us__item--likes::before {
  top: 12px;
  left: 9px;

  background-image: url("../img/icon-feature-heart.svg");
}

.about-us__item--handmade::before {
  top: 9px;
  left: 4px;

  background-image: url("../img/icon-feature-ball.svg");
}

.about-us__item--domestic::before {
  top: 10px;
  left: -4px;

  background-image: url("../img/icon-feature-rocket.svg");
}

.about-us__item--gift::before {
  top: 7px;
  left: 4px;

  background-image: url("../img/icon-feature-gift.svg");
}

@media (min-width: $tablet-width) {
  .about-us {
    width: 768px;
    margin: 0 auto;
    padding-top: 65px;
    padding-right: 50px;
    padding-bottom: 49px;
    padding-left: 50px;

    &::before {
      height: 17px;

      background-position-x: 93.4px;
      background-size: auto 15.5px;
    }
  }

  .about-us__title {
    margin-left: -4px;
  }

  .about-us__list {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
  }

  .about-us__item {
    width: 334px;
    margin-bottom: 34px;
    padding-top: 77px;

    font-size: 20px;
    line-height: 22px;
  }

  .about-us__item--eco {
    order: 1;

    &::before {
      top: 23px;
      left: 9px;
    }
  }

  .about-us__item--handmade {
    order: 2;

    &::before {
      top: 25px;
      left: 3px;
    }
  }

  .about-us__item--nordic {
    order: 3;

    &::before {
      top: 23px;
      left: 1px;
    }
  }

  .about-us__item--domestic {
    order: 4;

    &::before {
      top: 27px;
      left: -6px;
    }
  }

  .about-us__item--likes {
    order: 5;

    &::before {
      top: 29px;
      left: 9px;
    }
  }

  .about-us__item--gift {
    order: 6;

    &::before {
      top: 24px;
      left: 3px;
    }
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    width: 1150px;
    padding-top: 72px;
    padding-right: 225px;
    padding-bottom: 56px;
    padding-left: 225px;

    &::before {
      top: -9px;
      left: 50px;

      width: 1050px;
      height: 22px;

      background-position: 234.8px 1px;
      background-size: auto 21px;
    }
  }

  .about-us__item {
    width: 350px;
  }
}
