.button {
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 13px;


  font-size: $important-text;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  color: $main-text-color;
  background-color: $bg-white;
  // box-shadow: 0 0 0 2px $main-text-color;
  border: 2px solid $main-text-color;

  &:hover,
  &:focus {
    color: rgba(255, 255, 255, 1);
    background-color: $bg-grey;
    outline: none;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $bg-grey;
  }
}

@media (min-width: $tablet-width) {
  .button {
    font-size: 17px;
    line-height: 20px;
  }
}
