.catalog {
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
}

.catalog__list {
  @include list-reset;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.catalog__item {
  margin-bottom: 31px;
}

@media (min-width: $tablet-width) {
  .catalog {
    width: 768px;
    margin: 0 auto;
    padding-top: 73px;
    padding-right: 50px;
    padding-left: 50px;
  }

  .catalog__list {
    flex-direction: column;
  }

  .catalog__item {
    margin-bottom: 54px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    width: 1150px;
    margin-bottom: 4px;
    padding-top: 125px;
  }

  .catalog__list {
    flex-direction: row;
    justify-content: flex-start;
  }

  .catalog__item {
    display: flex;
  }

  .catalog__item:not(:nth-child(3n+3)) {
    margin-right: 50px;
  }
}
