.catalog {
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-left: 30px;
}

.catalog__list {
  @include list-reset;
  display: flex;

  flex-direction: column;
  flex-wrap: wrap;
}

.catalog__item {
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .catalog {
    width: 768px;
    margin: 0 auto;
    padding-top: 90px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .catalog__item {
    margin-bottom: 50px;
  }
}


@media (min-width: $desktop-width) {
  .catalog {
    width: 1150px;
  }

  .catalog__list {
    flex-direction: row;
  }

  .catalog__item {
    display: flex;
  }

  .catalog__item:not(:nth-child(3n+3)) {
    margin-right: 50px;
  }
}
