.copyright {
  display: flex;
}

.copyright__icon {
  fill: $brand-color;
}

.copyright__text {
  margin-right: auto;

  font-weight: bold;
  font-size: 19px;
  line-height: 19px;
  color: $main-text-color;
}

.copyright__link {
  width: 100%;

  display: flex;
  align-items: center;

  text-decoration: none;

  &:focus {
    outline: none;
  }

  &:hover .copyright__icon,
  &:focus .copyright__icon {
    fill: $footer-link-color;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }

  &:active .copyright__icon {
    fill: $footer-link-color;
  }
}
