.hero {
  background-color: #f9f9f9;

  border-top: 1px solid $border-grey;
}

.hero__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-top: 69px;

  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -19px;
}

.hero__title {
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 121px;

  font-size: $main-title-text;
  line-height: 30px;
  text-align: center;
  color: $title-color;
}

.hero__list {
  @include list-reset;
}

.hero__link {
  position: relative;

  display: block;
  width: 100%;
  min-height: 103px;
  padding-top: 25px;
  padding-right: 160px;
  padding-bottom: 30px;
  padding-left: 30px;

  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;

  &:hover,
  &:focus {
    transform: translateY(-5px);
    outline: none;
  }

  &::after {
    content: "";

    position: absolute;
    top: 20px;
    right: 25px;

    width: 62px;
    height: 62px;

    opacity: 0.5;
  }
}

.hero__item:nth-child(odd) {
  color: #ffffff;

  background-color: $brand-color;
}

.hero__item:nth-child(even) {
  color: #ffffff;

  background-color: $brand-color-dark;
}

.hero__link--interior {
  color: #ffffff;

  &:hover {
    box-shadow: 0 5px 0 0 $brand-color;
  }

  &::after {
    top: 22px;

    background-image: url("../img/icon-interior.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.hero__link--toys {
  color: #ffffff;

  &:hover {
    box-shadow: 0 5px 0 0 $brand-color-dark;
  }

  &::after {
    background-image: url("../img/icon-toy.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}


@media (min-width: $tablet-width) {
  .hero {
    position: relative;

    margin-top: -78px;

    &::after {
      content: "";
      position: absolute;

      bottom: 0;
      left: 0;

      width: 100%;
      height: 19px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: 100%;
      background-position-x: 0;
      background-repeat: repeat-x;
    }
  }

  .hero__wrapper {
    width: 768px;
    padding-right: 50px;
    padding-left: 50px;

    background-image: url("../img/hero-tablet@1x.jpg");
  }

  .hero__title {
    margin-top: 84px;
    margin-bottom: 373px;

    font-size: 43px;
    line-height: 50px;
  }

  .hero__list {
    position: relative;

    display: flex;

    flex-wrap: wrap;
  }

  .hero__item {
    width: 50%;
  }

  .hero__link {
    padding-bottom: 44px;
  }
}

@media (min-width: $desktop-width) {
  .hero {
    margin-top: -73px;
  }

  .hero__wrapper {
    width: 1150px;

    background-image: url("../img/hero-desktop@1x.jpg");
  }
}
