.order {
  padding-top: 21px;
  padding-bottom: 54px;
}

.order__wrapper {
  position: relative;

  width: 320px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
}

.order__text {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 24px;
  padding-right: 30px;
  padding-left: 30px;

  font-size: $small-text;
  line-height: 24px;
}

.order__group {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;

  border: none;
}

.order__group--name {
  margin-bottom: 12px;
}

.order__group--additional {
  margin-bottom: -1px;
}

.order__title {
  position: relative;

  margin-bottom: 25px;

  font-weight: bold;
  font-size: $important-text;
  line-height: 17px;
  text-transform: uppercase;
  color: $brand-color;

  @media (max-width: 767px) {
    &::after {
      content: "";

      position: absolute;
      top: 8px;
      left: 62px;

      width: 198px;
      height: 1px;

      background-color: $brand-color;
    }
  }
}

.order__title--name {
  margin-bottom: 27px;
}

.order__title--phone,
.order__title--email {
  margin-bottom: 7px;
}

.order__title--email {
  &::after {
    left: 81px;

    width: 179px;
  }
}

.order__list {
  @include list-reset;
}

.order__item {
  margin-bottom: 15px;

  display: flex;
  flex-direction: column;
}

.order__item--name:not(:last-child) {
  margin-bottom: 19px;
}

.order__label {
  position: relative;

  // padding-top: 20px;
  // padding-right: 30px;
  // padding-bottom: 26px;

  font-weight: bold;
  font-size: $important-text;
  line-height: 18px;
}

.order__input {
  width: 260px;
  min-height: 52px;

  margin-bottom: 3px;
  padding-top: 11px;
  padding-right: 15px;
  padding-bottom: 12px;
  padding-left: 0;

  font-weight: normal;
  font-size: $important-text;
  line-height: 18px;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000000;
  border-radius: 0;

  &:hover,
  &:focus {
    border-color: $brand-color;

    outline: none;
  }

  &:active {
    border-color: $brand-color;
  }
}

.order__input--phone,
.order__input--email {
  padding-right: 40px;
}

.order__icon {
  position: absolute;

  bottom: 12px;
  right: 34px;

  fill: rgba(0, 0, 0, 0.2);
}

.order__input:focus + .order__icon,
.order__input:hover + .order__icon,
.order__input:active + .order__icon {
  fill: $brand-color;
}

.order__icon--phone {
  bottom: 20px;
  right: 37px;
}

.order__radio + .order__label--radio::before {
  content: "";

  position: absolute;
  top: -2px;
  left: 0;

  width: 40px;
  height: 40px;

  border: 2px solid #000000;
  border-radius: 50%;
}

.order__radio:checked + .order__label--radio::after {
  content: "";

  position: absolute;
  top: 11px;
  left: 12px;

  width: 16px;
  height: 16px;

  background-color: $brand-color;
  border-radius: 50%;
}

.order__label--radio {
  padding-top: 9px;
  padding-left: 62px;

  &:hover::before,
  &:focus::before {
    border-color: $brand-color;
  }

  &:active::before {
    border-color: $border-grey;
  }
}

.order__checkbox + .order__label--checkbox::before {
  content: "";

  position: absolute;
  top: -2px;
  left: 0;

  width: 40px;
  height: 40px;

  border: 2px solid $bg-grey;
}

.order__checkbox:checked + .order__label--checkbox::after {
  content: "";

  position: absolute;
  top: 11px;
  left: 8px;

  width: 22px;
  height: 17px;

  background-image: url("../img/icon-tick.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.order__label--checkbox {
  padding-top: 10px;
  padding-left: 62px;

  &:hover::before,
  &:focus::before {
    border-color: $brand-color;
  }

  &:active::before {
    border-color: $border-grey;
  }
}

.order__item--color:not(:last-child) {
  margin-bottom: 33px;
}

.order__textarea {
  width: 100%;
  height: 142px;
  padding: 14px;

  font-size: 17px;
  line-height: 18px;

  border: 2px solid #000000;
  border-radius: 0;

  &:hover,
  &:focus {
    border-color: $brand-color;

    outline: none;
  }
}

.order__hint {
  margin-bottom: 31px;
  padding: 0;

  font-size: 14px;
  line-height: 16px;
}

::placeholder {
  color: #444444;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .order {
    padding-top: 70px;
  }

  .order__wrapper {
    width: 768px;
    padding-right: 50px;
    padding-left: 50px;

    display: flex;
  }

  .order__text {
    width: 768px;
    padding-right: 50px;
    padding-left: 50px;

    font-size: $important-text;
    line-height: 30px;
  }

  .order__title {
    width: 167px;

    flex-shrink: 0;
  }

  .order__group--grey {
    background-color: #f1f1f1;
  }

  .order__item {
    width: 501px;

    flex-direction: row;
  }

  .order__list--color {
    display: flex;
    flex-wrap: wrap;
  }

  .order__item--color {
    width: 250px;
  }

  .order__input {
    background-color: inherit;
  }

  .order__submit-wrapper {
    justify-content: space-between;
  }

  .order__button {
    width: 230px;

    order: -1;
  }

  .order__hint {
    font-size: $important-text;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .order {
    padding-top: 100px;
  }

  .order__wrapper {
    width: 1150px;
  }
}
