.order {
  padding-top: 21px;
  padding-bottom: 54px;
}

.order__text {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 24px;
  padding-right: 30px;
  padding-left: 30px;

  font-size: $small-text;
  line-height: 24px;
}

.order__group {
  position: relative;

  width: 320px;
  margin: 0 auto;
  padding: 0;

  padding-right: 30px;
  padding-left: 30px;

  display: flex;
  flex-direction: column;

  border: none;
}

.order__submit-wrapper {
  width: 320px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
}

.order__title {
  position: relative;

  font-weight: bold;
  font-size: $important-text;
  line-height: 17px;
  text-transform: uppercase;
  color: $brand-color;

  @media (max-width: 767px) {
    &::after {
      content: "";

      position: absolute;
      top: 8px;
      left: 62px;

      width: 198px;
      height: 1px;

      background-color: $brand-color;
    }
  }
}

.order__title--email {
  &::after {
    left: 81px;

    width: 179px;
  }
}

.order__list {
  @include list-reset;

  margin-top: 25px;
  margin-bottom: 43px;
}

.order__label {
  position: relative;

  font-weight: bold;
  font-size: $important-text;
  line-height: 18px;
}

.order__item {
  margin-bottom: 15px;

  display: flex;
  flex-direction: column;
}

.order__item--name {
  margin-bottom: 21px;
}

.order__list--name {
  margin-bottom: 31px;
}

.order__item--color {
  margin-bottom: 33px;
}

.order__radio + .order__label--radio::before {
  content: "";

  position: absolute;
  top: -2px;
  left: 0;

  width: 40px;
  height: 40px;

  border: 2px solid #000000;
  border-radius: 50%;
}

.order__radio:checked + .order__label--radio::after {
  content: "";

  position: absolute;
  top: 11px;
  left: 12px;

  width: 16px;
  height: 16px;

  background-color: $brand-color;
  border-radius: 50%;
}

.order__label--radio {
  padding-top: 9px;
  padding-left: 62px;

  &:hover::before,
  &:focus::before {
    border-color: $brand-color;
  }

  &:active::before {
    border-color: $border-grey;
  }
}

.order__checkbox + .order__label--checkbox::before {
  content: "";

  position: absolute;
  top: -2px;
  left: 0;

  width: 40px;
  height: 40px;

  border: 2px solid $bg-grey;
}

.order__checkbox:checked + .order__label--checkbox::after {
  content: "";

  position: absolute;
  top: 11px;
  left: 8px;

  width: 22px;
  height: 17px;

  background-image: url("../img/icon-tick.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.order__label--checkbox {
  padding-top: 10px;
  padding-left: 62px;

  &:hover::before,
  &:focus::before {
    border-color: $brand-color;
  }

  &:active::before {
    border-color: $border-grey;
  }
}

.order__input {
  width: 260px;
  min-height: 53px;

  padding-top: 11px;
  padding-right: 15px;
  padding-bottom: 12px;
  padding-left: 0;

  font-weight: normal;
  font-size: $important-text;
  line-height: 18px;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000000;
  border-radius: 0;

  &:hover,
  &:focus {
    border-color: $brand-color;

    outline: none;
  }

  &:active {
    border-color: $brand-color;
  }
}

.order__input--phone,
.order__input--email {
  padding-right: 40px;
}

.order__input--phone {
  margin-top: 6px;
  margin-bottom: 32px;
}

.order__input--email {
  margin-top: 7px;
  margin-bottom: 30px;
}

.order__icon {
  position: absolute;

  fill: rgba(0, 0, 0, 0.2);
}

.order__icon--phone {
  bottom: 49px;
  right: 37px;
}

.order__icon--email {
  bottom: 42px;
  right: 34px;
}

.order__input:focus + .order__icon,
.order__input:hover + .order__icon,
.order__input:active + .order__icon {
  fill: $brand-color;
}

.order__textarea {
  width: 100%;
  height: 142px;
  padding: 14px;
  margin-top: 24px;

  font-size: 17px;
  line-height: 18px;

  border: 2px solid #000000;
  border-radius: 0;

  &:hover,
  &:focus {
    border-color: $brand-color;

    outline: none;
  }
}

.order__hint {
  margin-bottom: 31px;
  padding: 0;

  font-size: 14px;
  line-height: 16px;
}

::placeholder {
  color: #444444;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .order {
    padding-top: 66px;
    padding-bottom: 50px;
  }

  .order__wrapper--grey {
    background-color: #f1f1f1;
  }

  .order__text {
    width: 768px;
    margin-bottom: 58px;
    padding-right: 50px;
    padding-left: 50px;

    font-size: $important-text;
    line-height: 30px;
  }

  .order__group {
    width: 768px;
    padding-right: 50px;
    padding-left: 217px;
  }

  .order__submit-wrapper {
    width: 768px;
    margin-top: 53px;
    padding-right: 50px;
    padding-left: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .order__title {
    position: absolute;
    top: 66px;
    left: 50px;

    width: 167px;
  }

  .order__title--type {
    top: 15px;
  }

  .order__title--email {
    top: 27px;
  }

  .order__item {
    width: 501px;
    margin-bottom: 24px;

    flex-direction: row;
    align-items: center;
  }

  .order__label {
    padding-right: 25px;

    font-size: 19px;
    line-height: 19px;
  }

  .order__radio + .order__label--radio::before {
    top: -1px;

    width: 52px;
    height: 52px;
  }

  .order__radio:checked + .order__label--radio::after {
    top: 15px;
    left: 15px;

    width: 22px;
    height: 22px;
  }

  .order__label--radio {
    min-height: 52px;
    padding-top: 15px;
    padding-left: 80px;
  }

  .order__checkbox + .order__label--checkbox::before {
    top: -1px;

    width: 55px;
    height: 52px;
  }

  .order__checkbox:checked + .order__label--checkbox::after {
    top: 16px;
    left: 11px;

    width: 33px;
    height: 33px;
  }

  .order__label--checkbox {
    min-height: 52px;
    padding-top: 15px;
    padding-left: 81px;
    margin-bottom: 0;
  }

  .order__list {
    margin: 0;
    margin-bottom: 50px;
  }

  .order__list--color {
    margin-top: 49px;
    margin-bottom: 23px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .order__item--color {
    width: 240px;
    margin-bottom: 25px;
  }

  .order__input {
    width: 100%;
    padding-top: 15px;
    padding-right: 18px;
    padding-bottom: 13px;
    padding-left: 18px;

    font-size: 19px;
    line-height: 26px;

    background-color: inherit;
  }

  .order__list--name {
    margin-top: 46px;
    margin-bottom: 50px;
  }

  .order__item--name {
    margin-bottom: 20px;
  }

  .order__input--phone {
    margin-top: 46px;
    margin-bottom: 13px;
  }

  .order__input--email {
    margin-bottom: 50px;
  }

  .order__icon--email {
    top: 22px;
    right: 72px;
  }

  .order__icon--phone {
    top: 61px;
    right: 76px;
  }

  .order__textarea {
    margin-top: 50px;

    font-size: 19px;
    line-height: 19px;
  }

  .order__button {
    width: 230px;

    order: -1;
  }

  .order__hint {
    margin: 0;

    font-size: $important-text;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .order {
    padding-top: 121px;
  }

  .order__text {
    width: 1150px;
    padding-left: 225px;
    padding-right: 225px;
  }

  .order__group {
    width: 1150px;
    padding-right: 225px;
    padding-left: 225px;
  }

  .order__group--color {
    padding-right: 150px;
  }

  .order__list--color {
    width: 765px;
  }

  .order__item--name {
    width: 700px;
  }

  .order__icon--phone {
    right: 233px;
  }

  .order__icon--email {
    right: 229px;
  }

  .order__submit-wrapper {
    width: 700px;
    padding: 0;
    margin-top: 49px;
  }

  .order__title {
    top: 65px;

    text-align: center;
  }

  .order__title--type {
    top: 15px;
  }

  .order__title--phone {
    top: 66px;
    left: 45px;
  }

  .order__title--email {
    top: 29px;
    left: 57px;
  }
}
