.page-footer {
  padding-top: 29px;

  background-color: #f1f1f1;
}

.page-footer__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-right: 30px;
  padding-bottom: 23px;
  padding-left: 30px;

  display: flex;
  flex-direction: column;

  text-align: center;
}

.page-footer__social {
  border-bottom: 1px solid $border-grey;
}

.page-footer__copyright {
  width: 183px;
  padding: 0;
  margin: 0 auto;
  margin-top: 22px;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 50px;
    padding-bottom: 21px;
  }

  .page-footer__wrapper {
    width: 768px;
    padding-right: 50px;
    padding-left: 50px;

    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .page-footer__logo {
    display: block;
    margin-right: 150px;
  }

  .page-footer__social {
    width: 157px;

    border: none;
  }

  .page-footer__copyright {
    width: 184px;
    margin: 0;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 1150px;
  }

  .page-footer__logo {
    margin-right: 341px;
  }
}
