.production {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 58px;
  padding-top: 25px;
  padding-bottom: 32px;

  box-shadow: 0 0 0 1px $border-grey;
}

.production__title {
  position: relative;
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  padding-left: 90px;

  font-size: $important-text;
  line-height: 24px;

  &::before {
    content: "";

    position: absolute;
    top: 6px;
    left: 34px;

    width: 32px;
    height: 32px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
  }
}

.production__video {
  position: relative;

  margin-bottom: 23px;
}

.production__play {
  position: absolute;
  top: 37px;
  left: 80px;

  width: 101px;
  height: 77px;

  background-image: url("../img/icon-play.svg");
  background-color: transparent;
  border: none;
}

.production__text {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  padding-right: 35px;
  padding-left: 33px;

  font-size: 13px;
  line-height: 24px;
}

.production__button {
  width: 192px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .production {
    width: 668px;
    margin-bottom: 64px;
    padding: 0;
    padding-bottom: 45px;
  }

  .production__wrapper {
    display: flex;
    flex-direction: column;
  }

  .production__video {
    order: -1;

    margin-left: -1px;
    margin-top: -1px;
    margin-bottom: 38px;

    border-left: 1px solid white;
    border-bottom: 1px solid $border-grey;
  }

  .production__image {
    display: block;
    width: 668px;
  }

  .production__play {
    top: 188px;
    left: 284px;
  }

  .production__title {
    margin-bottom: 32px;
    padding-left: 106px;

    font-size: 20px;
    line-height: 24px;

    &::before {
      top: -5px;
      left: 42px;
    }
  }

  .production__text {
    margin-bottom: 35px;
    padding-right: 40px;
    padding-left: 40px;

    font-size: 15px;
    line-height: 30px;
  }

  .production__button {
    width: 586px;
  }
}

@media (min-width: $desktop-width) {
  .production {
    width: 1150px;
    padding-right: 50px;
    padding-left: 50px;

    box-shadow: none;
  }

  .production__wrapper {
    height: 453px;

    flex-direction: column;
    flex-wrap: wrap;

    box-shadow: 0 0 0 1px $border-grey;
  }

  .production__video {
    width: 682px;

    border: none;
  }

  .production__play {
    top: 190px;
    left: 292px;
  }

  .production__title {
    width: 305px;
    margin-top: 96px;
    padding-left: 74px;

    &::before {
      top: -55px;
      left: 76px;
    }
  }

  .production__text {
    width: 360px;
    margin-bottom: 46px;
    padding-left: 75px;
  }

  .production__button {
    width: 230px;
    margin-left: 76px;
  }

  .production__image {
    width: 683px;
  }
}
