.reviews {
  position: relative;

  width: 320px;
  margin: 0 auto;
  padding-top: 32px;
  padding-right: 30px;
  padding-bottom: 46px;
  padding-left: 30px;
}

.reviews__list {
  margin-bottom: 30px;
}

.reviews__title {
  margin-bottom: 24px;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  margin-bottom: 29px;

  font-size: $primary-text;
  line-height: 30px;
}

.reviews__author {
  font-style: normal;
}

.reviews__name {
  display: block;
  margin-bottom: 3px;

  font-weight: bold;
  font-size: $important-text;
  line-height: 24px;
}

.reviews__profile {
  display: block;

  font-size: $important-text;
  line-height: 30px;
}

.reviews__toggles {
  @include list-reset;

  width: 260px;
  margin-bottom: 39px;

  display: flex;
  justify-content: space-between;

  box-shadow: 0 0 0 1px $border-grey;
}

.reviews__toggle {
  @include list-reset;

  width: 130px;

  text-align: center;
}

.reviews__toggle:first-child {
  border-right: 1px solid $border-grey;
}

.reviews__button {
  width: 83px;
  height: 48px;

  background-color: $bg-white;
  border: none;

  &:hover,
  &:focus {
    opacity: 0.6;

    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__button--prev {
  background-image: url("../img/icon-left-arrow.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}

.reviews__button--next {
  background-image: url("../img/icon-right-arrow.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .reviews {
    width: 768px;
    margin: 0 auto;
    padding-top: 78px;
    padding-right: 50px;
    padding-bottom: 79px;
    padding-left: 48px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
  }

  .reviews__slider {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
  }

  .reviews__title {
    margin: 0;
    margin-left: -3px;

    order: -2;
  }

  .reviews__list {
    margin-top: 29px;
  }

  .reviews__text {
    margin-bottom: 58px;

    font-size: $important-text;
    line-height: 30px;
  }

  .reviews__name {
    font-size: 18px;
    line-height: 24px;
  }

  .reviews__link {
    width: 176px;

    order: -1;
  }

  .reviews__toggles {
    width: 175px;
    margin-left: auto;
    margin-top: -83px;

    box-shadow: none;
  }

  .reviews__toggle:first-child {
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: 1150px;
    padding-top: 70px;
    padding-bottom: 70px;

    background-position-x: 50px;
  }

  .reviews__slider {
    margin-bottom: 65px;
    margin-left: 176px;
  }

  .reviews__text {
    margin-bottom: 39px;
    padding-right: 90px;
  }

  .reviews__name {
    font-size: 17px;
    line-height: 24px;
  }

  .reviews__profile {
    font-size: 17px;
    line-height: 30px;
  }

  .reviews__link {
    margin-top: 8px;
  }
}
