.reviews {
  position: relative;

  padding-top: 32px;
  padding-right: 30px;
  padding-left: 30px;
}

.reviews__title {
  margin-bottom: 24px;
}

.reviews__list {
  @include list-reset;
  margin-bottom: 33px;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  margin-bottom: 27px;

  font-size: $primary-text;
  line-height: 30px;
}

.reviews__author {
  font-style: normal;
}

.reviews__name {
  font-size: $important-text;
  line-height: 24px;
  font-weight: bold;
}

.reviews__profile {
  font-size: $important-text;
  line-height: 30px;
}

.reviews__toggles {
  @include list-reset;
  width: 260px;
  margin-bottom: 39px;

  box-shadow: 0 0 0 1px $border-grey;
}

.reviews__toggle {
  width: 130px;
  text-align: center;
}

.reviews__toggle:first-child {
  border-right: 1px solid $border-grey;
}
