// Цвета
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);

$brand-color: rgba(99, 209, 187, 1);
$brand-color-dark: rgba(86, 195, 178, 1);
$main-text-color: rgba(68, 68, 68, 1);
$nav-links-color: $black;
$title-color: $black;
$bg-white: $white;

// Текст
$primary-text: 15px;
$important-text: 17px;
$main-title-text: 27px;
$section-title-text: 25px;
